# === AMBIENTE VIRTUAL ===
venv/

# === BANCO DE DADOS LOCAL ===
*.sqlite3

# === ARQUIVOS DE MÍDIA / UPLOADS ===
media/
staticfiles

# === CACHE DO PYTHON E IDE ===
__pycache__/
*.pyc
.env
.vscode/

resultado.txt